# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*
!.env.example

# Local data
data/
dataset/
datasets/
input/
output/
cache/
results/

# Large AI files
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.safetensors
*.bin

# Videos / images
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png

# Kaggle
/kaggle/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db